<div id="userForm" class="card-new" style="margin-bottom: 2rem;">
  <div class="card-header">
      <div class="card-title">Update Password</div>
  </div>
  <div class="card-body">
    <%= form_with(url: change_password_users_path) do |f|%>
      <div class="form-section" style="margin-bottom: 2rem;    margin-top: 2.5rem;">
        <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1.5rem; margin-bottom: 1.5rem;">
          <div class="form-group">
              <label class="form-label">Old Password*</label>
              <%= f.password_field :old_password, class: "form-input", placeholder: "", required: true %>
          </div>
          <div class="form-group">
              <label class="form-label">Password*</label>
              <%= f.password_field :password, class: "form-input", placeholder: "", required: true %>
          </div>
          <div class="form-group">
              <label class="form-label">Password Confirmation*</label>
              <%= f.password_field :password_confirmation, class: "form-input", placeholder: "", required: true %>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; gap: 1rem;">
          <button type="submit" class="btn btn-primary">Update Password</button>
      </div>
    <% end %>
  </div>
</div>