<!-- Tab Bar -->
<div class="mobile-tab-bar">
    <a href="#home" class="mobile-tab-item <%= yield :h_active %>" data-page="homePage">
        <i class="fas fa-home"></i>
        <span id="homeTab">Home</span>
    </a>
    <a href="#record" class="mobile-tab-item <%= yield :r_active %>" data-page="recordPage">
        <i class="fas fa-history"></i>
        <span id="recordTab">Records</span>
    </a>
    <a href="<%=mobile_pages_profile_path%>" class="mobile-tab-item <%= yield :p_active %>" data-page="profilePage">
        <i class="fas fa-user"></i>
        <span id="profileTab">Profile</span>
    </a>
</div>